body {
	background: #5FD0FF;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

#four-oh-four {
	h1 {
		position: relative;
		color: #fff;
		font-family: sans-serif;
		font-size: 16vh;
		text-align: center;
		margin-top: 0;
		margin: 6vh auto 0;
	}
	img.bg {
		background: #5FD0FF;
		filter: grayscale(55%);
		position: absolute;
		// background-image: url(https://images.unsplash.com/photo-1480261593581-efc3c9bf77bb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=e53539a38c30dfc9f3e245ee5c1efd95);
		// background-color: rgb(51, 51, 51);
		background-position: center center;
		background-size: 150% 150%;
		width: 100%;
		height: 100%;
		top: 0;
		transform: rotate(180deg);
		z-index: -999;
	}
	#error-container {
		.overlay {
			position: absolute;
			background-color: #000;
			width: 100%;
			height: 100%;
			top: 0;
			opacity: 0.3;
		}
	}
	.terminal {
		position: relative;
		background: rgba(#262626, 0.8);
		width: 75vw;
		height: 16em;
		border-radius: 8px;
		box-shadow: 0 4px 10px 3px rgba(#000, 0.25);
		margin: 20vh auto 20vh;
		.window-title {
			background: linear-gradient(to bottom, #dedede, #c0c0c0);
			width: calc(100% - 16px);
			height: 1.25em;
			text-align: center;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			vertical-align: middle;
			padding: 1px 8px;
			.window-buttons {
				position: relative;
				width: 15%;
				top: 0.075em;
				left: -1em;
				float: left;
				margin: 0;
				vertical-align: middle;
			}
			.button {
				display: inline-block;
				text-align: center;
				width: 11px;
				height: 11px;
				border: 0.5px solid;
				border-radius: 100px;
				vertical-align: middle;
				// float: left;
				margin: 3px 2px 3px 0;
			}
			#close {
				background: #EE6B60;
				border-color: #d84b3a;
				border-color: darken(#EE6B60, 15%);
			}
			#min {
				background: #F7C150;
				border-color: darken(#F7C150, 16%);
			}
			#max {
				background: #65CC57;
				border-color: darken(#65CC57, 15%);
			}
		}
		.title {
			position: relative;
			display: inline-block;
			color: rgba(#000, 0.5);
			font-weight: 400;
			letter-spacing: 0.06em;
			text-align: center;
			vertical-align: middle;
			top: 2px;
			left: -43px;
		}
		.prompt {
			font-size: 98%;
		}
		.user {
			// color: #30DF50;
			color: #ea7e7d;
			letter-spacing: 0.002em;
			padding-right: 3px;
		}
		.at {
			// color: #E47E7D;
			color: #e8d880;
			padding-right: 2px;
		}
		.path {
			// color: #70CDED;
			color: #7ecdcb;
			letter-spacing: 0.002em;
			padding-right: 2px;
		}
		.caret {
			color: #50cd70;
		}
	}
	.message {
		position: relative;
		color: rgba(#fff, 0.75);
		font-family: "Source Code Pro", monospace;
		width: 95%;
		margin: auto;
		padding: 2vh 1.5rem 0;
		z-index: 999;
		span {
			// color: rgba(#fff, 0.75);
			// font-family: 'Source Code Pro', monospace;
			font-size: 90%;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: 0.045em;
			margin-bottom: 1em;
			a {
				font-family: "Source Code Pro", monospace;
				border-bottom: 1px dotted rgba(#fff, 0.75);
			}
		}
		form {
			// visibility: hidden;
			input {
				background: transparent;
				border: none;
				outline: none;
				caret-color: #50cd70;
				&:focus {
					color: rgba(#fff, 0.75);
				}
			}
		}
		.typed-cursor {
			color: rgba(#fff, 0.9);
		}
	}
	a {
		color: rgba(#fff, 0.7);
		text-decoration: none;
		&:hover {
			color: rgba(#fff, 0.9);
			border-bottom: 1px dotted rgba(#fff, 0.9);
		}
	}
}
