/* header img {
  height: 80px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
} */

/* body {
  height:125vh;
  font-family: 'Open Sans', sans-serif;
  /* background-image: ; */
  /*background-size: cover; */
  /* padding: 0;
} */ */

/* .navbar-ref {
  color: #808080;;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.navbar-ul {
    background-color: whitesmoke;
    display: flex;  
    justify-content: flex-end;
    width: 100%;
}

.list-inline {
  display: inline;
  text-decoration: none;
  justify-content: space-around;
  margin:10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.navbar a:hover {
  background-color: #005f5f;
}

.navbar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
} */

@media only screen and (max-width: 1094px) {
  .list-inline {
    width: 100%;
  }

  .navbar-ref {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }

}

a::selection,
span::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

a::selection,
span::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}