{% extends 'base.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/aboutme.css') }}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body %}

<title>About Jordan Brydie</title>
<h1>About Jordan Brydie</h1>

<h2>Who are you?</h2>
<p>My name is Jordan Brydie. I was born and raised in Boston, Massachusetts, but I currently live in New York City, New York.</p>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_5_1458939380067_17094"><div class="sqs-block-content"><hr /></div></div>

<h2>Where did you go to school?</h2>
<p>I attended <a href="providence.edu" style="color: black;" target="_blank">Providence College</a> 
in Providence, Rhode Island. I received a Bachelor of Science degree with dual majors in <a href="https://mathematics-computer-science.providence.edu/" style="color: black;" target="_blank">Computer Science</a> 
and <a href="https://business.providence.edu/finance/" style="color: black;" target="_blank">Finance.</a>with a focus in Mathematics. In an effort to augment my majors, I also received a certificate in Data & Analytics</p>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_5_1458939380067_17094"><div class="sqs-block-content"><hr /></div></div>

<h2></h2>
{% endblock %}